<div class="bestsellers">
    <div class="container">
        <h2 class="uppercase black text-center">Best Sellers</h2>
        <hr class="thin text-center">
        <hr class="weight text-center">
        <hr class="thin text-center">
        <div class="bestsellers-blocks uppercase">
            <div class="bestsellers-item">
                <img src="/img/collection/blue_tshirt.jpg">
                <div class="bestsellers-item-name">
                    <div class="product">Blue tshirt</div>
                    <div class="price">$26</div>
                </div>
            </div>
            <div class="bestsellers-item">
                <img src="/img/collection/woman_shirt.jpg">
                <div class="bestsellers-item-name activity">
                    <div class="product">Woman shirt</div>
                    <div class="price">$31</div>
                </div>
            </div>
            <div class="bestsellers-item">
                <img src="/img/collection/yellow_tshirt.jpg">
                <div class="bestsellers-item-name">
                    <div class="product">Yellow tshirt</div>
                    <div class="price">$21</div>
                </div>
            </div>
            <div class="bestsellers-item">
                <img src="/img/collection/cool_lingerie.jpg">
                <div class="bestsellers-item-name">
                    <div class="product">Cool Lingerie</div>
                    <div class="price">$56</div>
                </div>
            </div>
        </div>
    </div>
</div>