<div class="getintouch">
   <div class="darkrectangle">
    <div class="container">
       
        <h2 class="uppercase black text-center">get in touch</h2>
        <hr class="thin text-center">
        <hr class="weight text-center">
        <hr class="thin text-center">
        <div class="getintouch-general">
            <div class="getintouch-general-info">
                <p class="test-logo"><span class="firstLetter">M</span>ART</p>
                <p class="name">We'd love To Meet You In Person Or Via The Web!</p>
                <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas libero recusandae fugit odio fuga voluptatibus assumenda, fugiat sint quo ab.</p>
                <p class="marked"><span class="firstLetter">Main office:</span> 123 Elm St. New Yourk City, NY</p>
                <p class="marked"><span class="firstLetter">Phone:</span> 1 555 555 5555</p>
                <p class="marked"><span class="firstLetter">Email:</span> info@yourdomain.com</p>
                <div class=" fa_collection">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-linkedin-square"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>
            </div>
            <div class="getintouch-general-form">
                <input type="text" placeholder="Your Name">
                <input type="email" placeholder="Your Email">
                <input type="text" placeholder="Subject">
                <input type="url" placeholder="Website URL">
                <input type="text" placeholder="Your message" id="largeinput">
                <button class="send uppercase">Send</button>
            </div>
           </div>
        </div>
    </div>
</div>