<div class="customerReview">
    <div class="container">
        <h2 class="uppercase black text-center">Customer review</h2>
        <hr class="thin text-center">
        <hr class="weight text-center">
        <hr class="thin text-center">
        <div class="customerReview-block text-center">
            <img class="main" src="/img/team2_1.jpg">
            <p class="black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut fuga quod provident cum repudiandae optio sapiente, reprehenderit ipsam iusto tempore nesciunt esse. Nostrum odio omnis impedit minus, a? Soluta, mollitia!</p>
            <p class="firstLetter">- Olivia -</p>
            <span class="black">Melbour, Aus</span>
            <div class="teamfaces">
                <img class="line" src="/img/face1.jpg">
                <img class="line" src="/img/team2_1.jpg">
                <img class="line" src="/img/face3.jpg">
            </div>
        </div>
    </div>
</div>