<div class="main uppercase">
    <div class="container">
        <div class="main-logo">
            <p class="test-logo"><span class="firstLetter">M</span>ART</p>
        </div>
        <div class="main-menu">
           <ul>
            <li class="dropdown item firstLetter">
                <span class="dropdown-btn">Home</span>
            </li>
            <li class="dropdown item">
                <span class="dropdown-btn">About us</span>
            </li>
            <li class="dropdown item">
                <span class="dropdown-btn">Page</span>
            </li>
            <li class="dropdown item">
                <span class="dropdown-btn">Shop</span>
            </li>
            <li class="dropdown item">
                <span class="dropdown-btn">Blog</span>
            </li>
            <li class="dropdown item">
                <span class="dropdown-btn">Contact us</span>
            </li>
            </ul>
        </div>
        <div class="main-cart">
            <span class="fa fa-search black"></span>
            <p class="phone inline">Cart</p>
            <span class="icon-phone black"></span>
        </div>
    </div>
</div>