<div class="newsletter">
    <div class="container">
        <h2 class="uppercase black text-center">Newsletter</h2>
        <hr class="thin text-center">
        <hr class="weight text-center">
        <hr class="thin text-center">
        <p class="text-center">Follow a collection of news & promotions</p>
        <div class="inputsubmit text-center">
            <input type="email" placeholder="Enter your email here"><button class="btn text-center"><span class="borderwhite">&#x25BA;&#x25BA;</span></button>
        </div>
    </div>
</div>