<div class="service">
    <div class="container">
        <div class="service-item inline">
            <img src="/img/setting.jpg">
            <p class="uppercase text-center black first">Settings</p>
            <p class="textonly">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam dignissimos expedita possimus, minima nulla atque ratione doloribus id nostrum, soluta ex sint repudiandae odio labore esse quo. Optio repudiandae, asperiores.</p>
        </div>
        <div class="service-item inline">
            <img src="/img/moneyback.jpg">
            <p class="uppercase text-center activity first">Money Back</p>
            <p class="textonly">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam dignissimos expedita possimus, minima nulla atque ratione doloribus id nostrum, soluta ex sint repudiandae odio labore esse quo. Optio repudiandae, asperiores.</p>
        </div>
        <div class="service-item inline">
            <img src="/img/worldwide.jpg">
            <p class="uppercase text-center black first">Worldwide shipping</p>
            <p class="textonly">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam dignissimos expedita possimus, minima nulla atque ratione doloribus id nostrum, soluta ex sint repudiandae odio labore esse quo. Optio repudiandae, asperiores.</p>
        </div>
        <div class="service-item inline">
            <img src="/img/worldwide_2.jpg">
            <p class="uppercase text-center black first">Worldwide shipping</p>
            <p class="textonly">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam dignissimos expedita possimus, minima nulla atque ratione doloribus id nostrum, soluta ex sint repudiandae odio labore esse quo. Optio repudiandae, asperiores.</p>
        </div>
    </div>
</div>