<div class="banner">
    <div class="banner-picture">
        <div class="darkrectangle">
            <h1 class="text-center first uppercase">Dresses <span class="firstLetter">&</span> Jeans</h1>
            <p class="text-center uppercase">From ourfamous brands <span class="firstLetter">Sale</span></p>
            <button class="action uppercase text-center">Buy now</button>
           </div>
        </div>
        <div class="maxcontainer">
            <div class="sliderArrow">
                <a href="#"><div class="left">&#60;</div></a>
                <a href="#"><div class="right">&#62;</div></a>
            </div>
        </div>
</div>