<div class="collection">
    <div class="container">
        <h2 class="uppercase black text-center">NEW COLLECTION</h2>
        <hr class="thin text-center">
        <hr class="weight text-center">
        <hr class="thin text-center">
        <div class="collection-blocks uppercase">
            <div class="collection-item chosen">
                <img src="/img/collection/blue_tshirt.jpg">
                <div class="collection-item-name">
                    <div class="product">Blue tshirt</div>
                    <div class="price">$26</div>
                </div>
                <!--#insert file="../hidecart/-hidecart.html"-->
            </div>
            <div class="collection-item">
                <img src="/img/collection/woman_shirt.jpg">
                <div class="collection-item-name activity">
                    <div class="product">Woman shirt</div>
                    <div class="price">$31</div>
                </div>
            </div>
            <div class="collection-item">
                <img src="/img/collection/yellow_tshirt.jpg">
                <div class="collection-item-name">
                    <div class="product">Yellow tshirt</div>
                    <div class="price">$21</div>
                </div>
            </div>
            <div class="collection-item">
                <img src="/img/collection/cool_lingerie.jpg">
                <div class="collection-item-name">
                    <div class="product">Cool Lingerie</div>
                    <div class="price">$56</div>
                </div>
            </div>
        </div>
    </div>
</div>