<div class="latestnews">
    <div class="container">
        <h2 class="uppercase black text-center">latest news</h2>
        <hr class="thin text-center">
        <hr class="weight text-center">
        <hr class="thin text-center">
        <div class="latestnews-item">
            <img src="/img/news1.jpg" align="middle">
            <p class="articleName black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
            <hr class="thin">
            <p class="articleContent">Fuga quas, provident porro, quos consequuntur illo nihil. Perspiciatis quaerat rem commodi dolor minima tempore accusamus. Pariatur eaque nostrum expedita doloribus, porro.</p>
            <button class="more">Read More</button>
        </div>
        <div class="latestnews-item">
            <img src="/img/news2.jpg" align="center">
            <p class="articleName black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
            <hr class="thin">
            <p class="articleContent">Fuga quas, provident porro, quos consequuntur illo nihil. Perspiciatis quaerat rem commodi dolor minima tempore accusamus. Pariatur eaque nostrum expedita doloribus, porro.</p>
            <button class="more">Read More</button>
        </div>
        <div class="latestnews-item">
            <img src="/img/news3.jpg" align="middle">
            <p class="articleName black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
            <hr class="thin">
            <p class="articleContent">Fuga quas, provident porro, quos consequuntur illo nihil. Perspiciatis quaerat rem commodi dolor minima tempore accusamus. Pariatur eaque nostrum expedita doloribus, porro.</p>
            <button class="more">Read More</button>
        </div>
    </div>
</div>