<div class="featured">
    <div class="container">
        <h2 class="uppercase black text-center">Featured Products</h2>
        <hr class="thin text-center">
        <hr class="weight text-center">
        <hr class="thin text-center">
        <div class="featured-blocks uppercase">
            <div class="featured-item">
                <img src="/img/featured/product1.png">
                <div class="featured-item-name">
                    <div class="product">Blue tshirt</div>
                    <div class="price">$26</div>
                </div>
            </div>
            <div class="featured-item">
                <img src="/img/featured/product2.png">
                <div class="featured-item-name activity">
                    <div class="product">Woman shirt</div>
                    <div class="price">$31</div>
                </div>
            </div>
            <div class="featured-item">
                <img src="/img/featured/product9.png">
                <div class="featured-item-name">
                    <div class="product">Yellow tshirt</div>
                    <div class="price">$21</div>
                </div>
            </div>
            <div class="featured-item">
                <img src="/img/featured/product4.png">
                <div class="featured-item-name">
                    <div class="product">Cool Lingerie</div>
                    <div class="price">$56</div>
                </div>
            </div>
            <div class="featured-item">
                <img src="/img/featured/product3.png">
                <div class="featured-item-name">
                    <div class="product">Cool Lingerie</div>
                    <div class="price">$56</div>
                </div>
            </div>
            <div class="featured-item">
                <img src="/img/featured/product5.png">
                <div class="featured-item-name">
                    <div class="product">Cool Lingerie</div>
                    <div class="price">$56</div>
                </div>
            </div>
            <div class="featured-item">
                <img src="/img/featured/product6.png">
                <div class="featured-item-name">
                    <div class="product">Cool Lingerie</div>
                    <div class="price">$56</div>
                </div>
            </div>
            <div class="featured-item">
                <img src="/img/featured/product8.png">
                <div class="featured-item-name">
                    <div class="product">Cool Lingerie</div>
                    <div class="price">$56</div>
                </div>
            </div>
        </div>
    </div>
</div>