<div class="header">
   <div class="container">
        <div class="header-about">
           <div class="header-about-callback">
                <div class="phone inline">
                    <span class="icon-phone"></span>
                    <p class="phone inline">123-123456789</p>
                </div>
                <div class="post inline">
                    <span class="fa fa-envelope-o"></span>
                    <p class="post inline">info@ltnt.com</p>
                </div>
            </div>
        </div>
        <div class="header-about-headline">
            <ul class="menu-top">
		        <li class="menu-top-item inline">
			        <a class="link">My Account</a>
		        </li>
		        <li class="menu-top-item inline">
			        <a class="link">Wishlist</a>
		        </li>
		        <li class="menu-top-item inline">
			        <a class="link">Cart</a>
		        </li>
		        <li class="menu-top-item inline">
			        <a class="link">CreditOut</a>
		        </li>
		        <li class="menu-top-item inline">
		            <span class="fa fa-lock"></span>
			        <a class="link">Login/Register</a>
		        </li>
	        </ul>
        </div>

    </div>
</div>
<div class="header-main">
    <!--#insert file="../header/header_main/-header-main.html"-->
</div>